In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline
from scipy import optimize
from ipywidgets import *
from IPython.display import SVG
from sklearn import datasets

In [32]:
AND=pd.DataFrame({"x1":(0,0,1,1),"x2":(0,1,0,1),"y":(0,0,0,1)})
AND

   x1  x2  y
0   0   0  0
1   0   1  0
2   1   0  0
3   1   1  1

First,we need to initalize weights to small,random values(can be postive and negative).

In [33]:
w=np.random.randn(3)*1e-4

Then,a simple activation fn for calculation g(h):

In [46]:
g=lambda inputs,weights:np.where(np.dot(inputs,weights)>0,1,0)

Finally, a training fn that iterates the learning algorithem, returning the adapted weights.

In [43]:
def train(inputs,targets,weights,eta,n_iterations):
    #Add the inputs that match the bias node
    inputs=np.c_[inputs,-np.ones((len(inputs),1))]

    for n in range(n_iterations):

        activations=g(inputs,weights);
        print(n,activations)
        weights-=eta*np.dot(np.transpose(inputs),activations - targets)
        print(n,weights)

    return(weights)

Let's test it first on the AND Fn

In [44]:
inputs=AND[["x1","x2"]]
target=AND["y"]

w = train(inputs,target,w,0.25,10)

0 [0 1 1 1]
0 [0.24993901 0.24977417 0.50017414]
1 [0 0 0 0]
1 [0.49993901 0.49977417 0.25017414]
2 [0 1 1 1]
2 [0.24993901 0.24977417 0.75017414]
3 [0 0 0 0]
3 [0.49993901 0.49977417 0.50017414]
4 [0 0 0 1]
4 [0.49993901 0.49977417 0.50017414]
5 [0 0 0 1]
5 [0.49993901 0.49977417 0.50017414]
6 [0 0 0 1]
6 [0.49993901 0.49977417 0.50017414]
7 [0 0 0 1]
7 [0.49993901 0.49977417 0.50017414]
8 [0 0 0 1]
8 [0.49993901 0.49977417 0.50017414]
9 [0 0 0 1]
9 [0.49993901 0.49977417 0.50017414]

Checking the Performance:

In [37]:
g(np.c_[inputs,-np.ones((len(inputs),1))],w)

array([0, 0, 0, 1])

Thus,it has learned the fn perfectly.Now for OR:

In [38]:
OR=pd.DataFrame({"x1":(0,0,1,1),"x2":(0,1,0,1),"y":(0,1,1,1)})
OR

   x1  x2  y
0   0   0  0
1   0   1  1
2   1   0  1
3   1   1  1

In [39]:
w=np.random.randn(3)*1e-4

In [40]:
inputs = OR[["x1","x2"]]
target = OR["y"]

In [41]:
w=train(inputs,target,w,0.25,20)

In [42]:
g(np.c_[inputs,-np.ones((len(inputs),1))],w)

array([0, 1, 1, 1])